Repository arvidsson-kaller/LiUtils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: common-linter, frontend-linter, backend-linter

common-linter:
  stage: test
  image: node:20.11-alpine3.18
  script:
  - cd common
  - npm ci
  - npm run lint
  - npm run build
  - npm run test

frontend-linter:
  stage: test
  image: node:20.11-alpine3.18
  script:
  - cd frontend
  - npm ci
  - npm run lint
  - npx prettier ./ --check --end-of-line auto

backend-linter:
  stage: test
  image: node:20.11-alpine3.18
  script:
  - cd backend
  - npm ci
  - npm run lint
  - npm run build

run prettier
  frontend/app/api/backend/[...endpoint]/route.ts
Due: frontend-linter

#18 Create proxy endpoint for requesting backend with credentials
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/backend/[...endpoint]/route.ts
Due: frontend-linter

Fix lint
  backend/src/authentication.ts
  backend/src/controllers/UserController.ts
Due: backend-linter

Database migration
  database/migrations/1711103321903_user-table.js
  database/migrations/1711966319451_user.js
  database/models/public/Posts.ts
  database/models/public/User.ts
  database/models/public/Users.ts
Due: none

Authentication
  backend/env/production.env
  backend/env/test.env
  backend/package.json
  backend/src/authentication.ts
  backend/src/constants/EnvVars.ts
  backend/src/controllers/UserController.ts
  backend/src/models/Posts.ts
  backend/src/models/User.ts
  backend/src/models/Users.ts
  backend/src/repos/UserRepo.ts
  backend/tsconfig.json
  backend/tsoa.json
  database/README.md
  database/migrations/1711966319451_user.js
Due: backend-linter

fix pr
  database/README.md
Due: none

#17 Api key authentication"
  backend/env/production.env
  backend/env/test.env
  backend/package.json
  backend/src/authentication.ts
  backend/src/constants/EnvVars.ts
  backend/src/controllers/UserController.ts
  backend/src/models/Posts.ts
  backend/src/models/User.ts
  backend/src/models/Users.ts
  backend/src/repos/UserRepo.ts
  backend/tsconfig.json
  backend/tsoa.json
  database/README.md
  database/migrations/1711103321903_user-table.js
  database/migrations/1711966319451_user.js
  database/models/public/Posts.ts
  database/models/public/User.ts
  database/models/public/Users.ts
Due: backend-linter

Fix database
  backend/src/repos/Database.ts
Due: backend-linter

#20 Fix database timeout crash
  backend/src/repos/Database.ts
Due: backend-linter

Updated specification
  README.md
Due: none

Fix spelling
  README.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  README.md
Due: none

#22 Updated specification
  README.md
Due: none

Make first working version of studieinfo data fetcher
  common/package-lock.json
  common/package.json
  common/src/test.ts
  common/tsconfig.json
Due: common-linter

Separate courses into periods
  common/src/test.ts
Due: common-linter

Structure studieinfo into common package
  common/src/fetchhtml.ts
  common/src/index.ts
  common/src/studieinfo.ts
  common/src/test.ts
Due: common-linter

Reorganize data and introduce typing
  common/src/test.ts
Due: common-linter

#19 Get data from studieinfo
  common/package-lock.json
  common/package.json
  common/src/fetchhtml.ts
  common/src/index.ts
  common/src/studieinfo.ts
  common/tsconfig.json
Due: common-linter

Fix PR
  backend/src/controllers/UserController.ts
  backend/src/public/swagger.json
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/lib/backend-client/models.ts
  frontend/lib/backend-client/schemas.ts
  frontend/lib/backend-client/services.ts
Due: frontend-linter, backend-linter

Fix prettier
  .gitlab-ci.yml
  backend/.eslintrc.json
  backend/.prettierignore
  backend/README.md
  backend/package.json
  backend/src/authentication.ts
  backend/src/constants/EnvVars.ts
  backend/src/constants/misc.ts
  backend/src/controllers/UserController.ts
  backend/src/index.ts
  backend/src/other/classes.ts
  backend/src/pre-start.ts
  backend/src/repos/Database.ts
  backend/src/repos/UserRepo.ts
  backend/src/server.ts
  backend/src/services/JwtService.ts
  backend/tsoa.json
Due: common-linter, frontend-linter, backend-linter

.gitignore backend-client
  .gitlab-ci.yml
  frontend/.gitignore
  frontend/lib/backend-client/Service.ts
  frontend/lib/backend-client/core/ApiError.ts
  frontend/lib/backend-client/core/ApiRequestOptions.ts
  frontend/lib/backend-client/core/ApiResult.ts
  frontend/lib/backend-client/core/BaseHttpRequest.ts
  frontend/lib/backend-client/core/CancelablePromise.ts
  frontend/lib/backend-client/core/FetchHttpRequest.ts
  frontend/lib/backend-client/core/OpenAPI.ts
  frontend/lib/backend-client/core/request.ts
  frontend/lib/backend-client/core/types.ts
  frontend/lib/backend-client/index.ts
  frontend/lib/backend-client/models.ts
  frontend/lib/backend-client/schemas.ts
  frontend/lib/backend-client/services.ts
Due: common-linter, frontend-linter, backend-linter

Documentation
  frontend/README.md
Due: frontend-linter

Backend and frontend integration, user login
  .gitattributes
  backend/.eslintrc.json
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/authentication.ts
  backend/src/constants/EnvVars.ts
  backend/src/controllers/UserController.ts
  backend/src/models/Pgmigrations.ts
  backend/src/models/User.ts
  backend/src/other/classes.ts
  backend/src/public/swagger.json
  backend/src/repos/UserRepo.ts
  backend/src/server.ts
  backend/src/services/JwtService.ts
  backend/tsoa.json
  database/package-lock.json
  database/package.json
  frontend/.prettierignore
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/backend/[...endpoint]/route.ts
  frontend/lib/backend-client/Service.ts
  frontend/lib/backend-client/core/ApiError.ts
  frontend/lib/backend-client/core/ApiRequestOptions.ts
  frontend/lib/backend-client/core/ApiResult.ts
  frontend/lib/backend-client/core/BaseHttpRequest.ts
  frontend/lib/backend-client/core/CancelablePromise.ts
  frontend/lib/backend-client/core/FetchHttpRequest.ts
  frontend/lib/backend-client/core/OpenAPI.ts
  frontend/lib/backend-client/core/request.ts
  frontend/lib/backend-client/core/types.ts
  frontend/lib/backend-client/index.ts
  frontend/lib/backend-client/models.ts
  frontend/lib/backend-client/schemas.ts
  frontend/lib/backend-client/services.ts
  frontend/lib/backend.ts
  frontend/lib/session.ts
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-linter, backend-linter

Client proxy proof of concept
  backend/src/authentication.ts
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/backend/[...endpoint]/route.ts
  frontend/app/users/page.tsx
  frontend/lib/backend.ts
Due: frontend-linter, backend-linter

Treat backend-client as binary
  .gitattributes
Due: none

Collapse generated files
  .gitattributes
Due: none

Db migration
  database/migrations/1712231664349_user-provider.js
  database/models/public/User.ts
Due: none

Run prettier
  frontend/README.md
Due: frontend-linter

Catch backend fail
  frontend/app/api/auth/[...nextauth]/route.ts
Due: frontend-linter

Fix lint pipeline
  .gitlab-ci.yml
Due: common-linter, frontend-linter, backend-linter

#21 Backend and frontend integration
  .gitattributes
  .gitlab-ci.yml
  backend/.eslintrc.json
  backend/.gitignore
  backend/.prettierignore
  backend/README.md
  backend/package-lock.json
  backend/package.json
  backend/src/authentication.ts
  backend/src/constants/EnvVars.ts
  backend/src/constants/misc.ts
  backend/src/controllers/UserController.ts
  backend/src/index.ts
  backend/src/models/Pgmigrations.ts
  backend/src/models/User.ts
  backend/src/other/classes.ts
  backend/src/pre-start.ts
  backend/src/public/swagger.json
  backend/src/repos/Database.ts
  backend/src/repos/UserRepo.ts
  backend/src/server.ts
  backend/src/services/JwtService.ts
  backend/tsoa.json
  database/migrations/1712231664349_user-provider.js
  database/models/public/User.ts
  database/package-lock.json
  database/package.json
  frontend/.gitignore
  frontend/.prettierignore
  frontend/README.md
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/backend/[...endpoint]/route.ts
  frontend/app/users/page.tsx
  frontend/lib/backend.ts
  frontend/lib/session.ts
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: common-linter, frontend-linter, backend-linter

Make rows selectable, show summary of selected courses
  frontend/app/master/page.tsx
  frontend/components/master/CourseSelectionSummary.tsx
  frontend/lib/utils.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-linter

Add link to evaliuate
  frontend/app/master/page.tsx
Due: frontend-linter

Run prettier
  frontend/app/master/page.tsx
  frontend/components/master/CourseSelectionSummary.tsx
Due: frontend-linter

Update package-lock.json
  frontend/package-lock.json
Due: frontend-linter

Fix comments
  frontend/app/master/page.tsx
  frontend/components/master/CourseSelectionSummary.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-linter

#26 Fix proxy
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/backend/[...endpoint]/route.ts
  frontend/components/NavBar.tsx
Due: frontend-linter

Path conditions:
  common-linter: any of: common/**/*.*, .gitlab-ci.yml
  frontend-linter: any of: frontend/**/*.*, .gitlab-ci.yml
  backend-linter: any of: backend/**/*.*, .gitlab-ci.yml
