Repository arvidsson-kaller/LiUtils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

.gitlab-ci.yml:

stages: 
  - lint
  - test

frontend-linter:
  stage: lint
  image: node:20.11-alpine3.18
  script:
    - cd frontend
    - npm ci
    - npm run lint
    - npx prettier ./ --check --end-of-line auto
  only:
    changes:
      - frontend/**/*.*
      - .gitlab-ci.yml

backend-linter:
  stage: lint
  image: node:20.11-alpine3.18
  script:
    - cd backend
    - npm ci
    - npm run db-types
    - npm run lint
    - npx prettier ./ --check --end-of-line auto
  only:
    changes:
      - backend/**/*.*
      - .gitlab-ci.yml

backup-backend-linter:
  stage: lint
  image: node:20.11-alpine3.18
  script:
    - cd backup-backend
    - npm ci
    - npx prettier ./ --check --end-of-line auto
  only:
    changes:
      - backup-backend/**/*.*
      - .gitlab-ci.yml

common-linter:
  stage: lint
  image: node:20.11-alpine3.18
  script:
    - cd common
    - npm ci
    - npx prettier ./ --check --end-of-line auto
  only:
    changes:
      - common/**/*.*
      - .gitlab-ci.yml

common-build:
  stage: test
  image: node:20.11-alpine3.18
  script:
    - cd common
    - npm ci
    - npm run test
  only:
    changes:
      - common/**/*.*
      - .gitlab-ci.yml

Run prettier
  frontend/app/api/backend/[...endpoint]/route.ts
Due: frontend-linter

Apply 1 suggestion(s) to 1 file(s)
  frontend/app/api/backend/[...endpoint]/route.ts
Due: frontend-linter

#26 Improved proxy for next (HTTPS)
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/backend/[...endpoint]/route.ts
  frontend/components/NavBar.tsx
Due: frontend-linter

Fix broken pipeline
  .gitlab-ci.yml
  common/src/studieinfo.ts
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Tasks to improve dev experience
  .vscode/tasks.json
Due: none

#27 Pipeline sometimes does not run
  .gitlab-ci.yml
  .vscode/tasks.json
  common/src/studieinfo.ts
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Run prettier
  backend/src/repos/MasterProgramRepo.ts
  backend/src/repos/StartYearRepo.ts
Due: backend-linter

Add population of studieinfo data endpoint
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/StudieinfoController.ts
  backend/src/public/swagger.json
  backend/src/services/StudieinfoService.ts
Due: backend-linter

Fix lint and prettier issues
  backend/src/repos/MasterProgramRepo.ts
  backend/src/repos/StartYearRepo.ts
  backend/src/services/StudieinfoService.ts
Due: backend-linter

Add support for transactional database operations
  backend/src/repos/Database.ts
  backend/src/repos/MasterProgramRepo.ts
  backend/src/repos/StartYearRepo.ts
Due: backend-linter

Add master database tables with associated repos
  backend/src/repos/MasterProgramRepo.ts
  backend/src/repos/StartYearRepo.ts
  database/.kanelrc.js
  database/migrations/1712665795945_studieinfo.js
  database/models/public/MasterProgram.ts
  database/models/public/StartYear.ts
Due: backend-linter

Add common to backend lint
  .gitlab-ci.yml
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Update pipeline
  .gitlab-ci.yml
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Add typescript to common build
  .gitlab-ci.yml
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Update artifact path
  .gitlab-ci.yml
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Add correct dist path
  .gitlab-ci.yml
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Add routes for getting studieinfo data
  backend/src/controllers/StudieinfoController.ts
  backend/src/public/swagger.json
  backend/src/repos/MasterProgramRepo.ts
  backend/src/repos/StartYearRepo.ts
  database/.kanelrc.js
Due: backend-linter

Rename CoursesDTO to CoursesResponseDTO
  backend/src/controllers/StudieinfoController.ts
Due: backend-linter

Run prettier
  backend/src/controllers/StudieinfoController.ts
Due: backend-linter

#25 Add studieinfo to the database
  .gitlab-ci.yml
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/StudieinfoController.ts
  backend/src/public/swagger.json
  backend/src/repos/Database.ts
  backend/src/repos/MasterProgramRepo.ts
  backend/src/repos/StartYearRepo.ts
  backend/src/services/StudieinfoService.ts
  database/.kanelrc.js
  database/migrations/1712665795945_studieinfo.js
  database/models/public/MasterProgram.ts
  database/models/public/StartYear.ts
Due: frontend-linter, backend-linter, backup-backend-linter, common-linter, common-build

Define master plan types
  common/src/index.ts
  common/src/masterPlan.ts
  common/src/studieinfo.ts
Due: common-linter, common-build

run prettier
  common/src/masterPlan.ts
Due: common-linter, common-build

Empty controller
  backend/src/controllers/MasterPlanController.ts
  backend/src/public/swagger.json
Due: backend-linter

Fix lint
  backend/src/controllers/MasterPlanController.ts
Due: backend-linter

Run prettier
  backend/src/controllers/MasterPlanController.ts
Due: backend-linter

#28 Define master plan types
  backend/src/controllers/MasterPlanController.ts
  backend/src/public/swagger.json
  common/src/index.ts
  common/src/masterPlan.ts
  common/src/studieinfo.ts
Due: backend-linter, common-linter, common-build

#28 Course => PlannedCourse in common
  common/src/masterPlan.ts
Due: common-linter, common-build

#5 Build deployment
  backend/build-deployment.sh
  backend/src/public/swagger.json
Due: backend-linter

#30 SemesterPlan overview
  frontend/app/master-test/page.tsx
  frontend/components/NextLink.tsx
  frontend/components/master/SemesterPlanOverview.tsx
  frontend/lib/master/helpers.ts
Due: frontend-linter

Apply 1 suggestion(s) to 1 file(s)
  frontend/lib/master/helpers.ts
Due: frontend-linter

#30 SemesterPlan Overview UX
  frontend/app/master-test/page.tsx
  frontend/components/NextLink.tsx
  frontend/components/master/SemesterPlanOverview.tsx
  frontend/lib/master/helpers.ts
Due: frontend-linter

Run prettier
  frontend/app/master/plan/page.tsx
Due: frontend-linter

Add preliminary course selection (WIP)
  frontend/app/master/plan/page.tsx
Due: frontend-linter

Begin creating skeleton
  frontend/app/master/page.tsx
  frontend/app/master/plan/page.tsx
Due: frontend-linter

Add functionality for creating MasterPlan object
  frontend/app/master/plan/page.tsx
  frontend/components/master/CourseSelectionGrid.tsx
Due: frontend-linter

Use SemesterPlanOverview to view and select courses
  frontend/app/master/plan/page.tsx
Due: frontend-linter

Make adding courses behave properly
  frontend/app/master/plan/page.tsx
Due: frontend-linter

Add selection of specialization
  frontend/app/master/plan/page.tsx
Due: frontend-linter

Add ability to remove courses from plan
  frontend/app/master/plan/page.tsx
  frontend/components/master/CourseSelectionGrid.tsx
Due: frontend-linter
