Repository arvidsson-kaller/LiUtils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-linter, backend-linter

.gitlab-ci.yml:

stages: 
  - test

frontend-linter:
  stage: test
  image: node:20.11-alpine3.18
  script:
    - cd frontend
    - npm ci
    - npx prettier ./ --check --end-of-line auto
    - npm run lint
  only:
    changes:
      - frontend/**/*.*

backend-linter:
  stage: test
  image: node:20.11-alpine3.18
  script:
    - cd backend
    - npm ci
    - npx prettier ./ --check --end-of-line auto
    - npm run lint
  only:
    changes:
      - backend/**/*.*

Fix lint
  backend/.eslintrc.json
  backend/README.md
  backend/build.ts
  backend/build/routes.ts
  backend/src/constants/EnvVars.ts
  backend/src/constants/HttpStatusCodes.ts
  backend/src/constants/misc.ts
  backend/src/controllers/ping.ts
  backend/src/index.ts
  backend/src/models/User.ts
  backend/src/other/classes.ts
  backend/src/pre-start.ts
  backend/src/public/swagger.json
  backend/src/repos/MockOrm.ts
  backend/src/repos/UserRepo.ts
  backend/src/repos/database.json
  backend/src/routes.ts
  backend/src/server.ts
  backend/src/services/UserService.ts
  backend/src/util/misc.ts
  backend/tsconfig.json
  backend/tsconfig.prod.json
  backend/tsoa.json
Due: backend-linter

Pipeline fixes
  .gitlab-ci.yml
Due: none

#2 Setup express.js with typescript and swagger
  .gitignore
  .gitlab-ci.yml
  backend/.eslintignore
  backend/.eslintrc.json
  backend/.gitignore
  backend/README.md
  backend/build.ts
  backend/build/routes.ts
  backend/env/development.env
  backend/env/production.env
  backend/env/test.env
  backend/package-lock.json
  backend/package.json
  backend/src/constants/EnvVars.ts
  backend/src/constants/HttpStatusCodes.ts
  backend/src/constants/misc.ts
  backend/src/controllers/ping.ts
  backend/src/index.ts
  backend/src/models/User.ts
  backend/src/other/classes.ts
  backend/src/pre-start.ts
  backend/src/public/swagger.json
  backend/src/repos/MockOrm.ts
  backend/src/repos/UserRepo.ts
  backend/src/repos/database.json
  backend/src/routes.ts
  backend/src/server.ts
  backend/src/services/UserService.ts
  backend/src/util/misc.ts
  backend/tsconfig.json
  backend/tsconfig.prod.json
  backend/tsoa.json
Due: backend-linter

#2 fix pipeline
  .gitlab-ci.yml
  backend/.gitignore
  backend/build.ts
  backend/build/routes.ts
  backend/package.json
  backend/src/constants/EnvVars.ts
  backend/src/constants/misc.ts
  backend/src/controllers/ping.ts
  backend/src/index.ts
  backend/src/models/User.ts
  backend/src/other/classes.ts
  backend/src/pre-start.ts
  backend/src/public/swagger.json
  backend/src/repos/MockOrm.ts
  backend/src/repos/UserRepo.ts
  backend/src/routes.ts
  backend/src/server.ts
  backend/src/services/UserService.ts
Due: backend-linter

Fix prettier
  frontend/app/page.tsx
Due: frontend-linter

Add Discord OAuth and skeleton for Azure
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/SignIn.tsx
  frontend/lib/session.ts
Due: frontend-linter

#2 Add Discord OAuth2 SSO
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/SignIn.tsx
  frontend/lib/session.ts
Due: frontend-linter

Add static web pages for hard-coded list of rooms
  frontend/app/api/allrooms/route.ts
  frontend/app/room/[room]/page.tsx
Due: frontend-linter

Add public environment variables
  frontend/.env
Due: frontend-linter

#9 Static web page for LiU rooms
  frontend/.env
  frontend/app/api/allrooms/route.ts
  frontend/app/room/[room]/page.tsx
Due: frontend-linter

Fix pipeline
  .gitlab-ci.yml
Due: none

#8 Make common into TS package
  .gitlab-ci.yml
  backend/package-lock.json
  backend/package.json
  common/.gitignore
  common/README.md
  common/index.js
  common/package-lock.json
  common/package.json
  common/src/index.ts
  common/src/test.ts
  common/src/timeedit.ts
  common/src/timeeditConstants.ts
  common/test.js
  common/tsconfig.json
Due: backend-linter

#8 Common timeedit utils
  common/.gitignore
  common/index.js
  common/package-lock.json
  common/package.json
  common/test.js
  common/timeedit.js
Due: none

Run prettier
  common/README.md
  common/package.json
  common/src/index.ts
  common/src/test.ts
  common/src/timeedit.ts
  common/src/timeeditConstants.ts
  common/tsconfig.json
Due: none

#8 Common package, with timeedit utils
  .gitlab-ci.yml
  backend/package-lock.json
  backend/package.json
  common/.gitignore
  common/README.md
  common/package-lock.json
  common/package.json
  common/src/index.ts
  common/src/test.ts
  common/src/timeedit.ts
  common/src/timeeditConstants.ts
  common/tsconfig.json
Due: backend-linter

#15 Setup backup-backend with core timeedit feature
  .gitlab-ci.yml
  backup-backend/.gitignore
  backup-backend/api/index.js
  backup-backend/package-lock.json
  backup-backend/package.json
  backup-backend/vercel.json
Due: none

Add MazeMapComponent to static room pages
  frontend/app/room/[room]/page.tsx
  frontend/components/MazeMapComponent.tsx
Due: frontend-linter

#10 Add MazeMapComponent to static room pages
  frontend/app/room/[room]/page.tsx
  frontend/components/MazeMapComponent.tsx
Due: frontend-linter

Modify code to work with vercel
  frontend/.env
  frontend/allrooms.ts
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/room/[room]/page.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-linter

Fix static web pages
  frontend/app/room/[room]/page.tsx
  frontend/components/MazeMapComponent.tsx
Due: frontend-linter

Run prettier
  frontend/allrooms.ts
Due: frontend-linter

Add sitemap for better SEO
  frontend/app/sitemap.ts
Due: frontend-linter

Refactor in preparation for backend
  frontend/app/room/[room]/page.tsx
  frontend/app/sitemap.ts
  frontend/components/MazeMapComponent.tsx
  frontend/lib/allrooms.ts
  frontend/lib/mazemapdata.ts
Due: frontend-linter

Correct type casing
  frontend/lib/mazemapdata.ts
Due: frontend-linter

Fix url decoding issues in prod
  frontend/app/room/[room]/page.tsx
  frontend/lib/utils.ts
Due: frontend-linter

Fix sitemap to official URL
  frontend/app/sitemap.ts
Due: frontend-linter

#3 Deploy Next.js Project to Vercel
  frontend/.env
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/room/[room]/page.tsx
  frontend/app/sitemap.ts
  frontend/components/MazeMapComponent.tsx
  frontend/lib/allrooms.ts
  frontend/lib/mazemapdata.ts
  frontend/lib/utils.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-linter

Backend db connection
  backend/.gitignore
  backend/README.md
  backend/env/development.env
  backend/env/test.env
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/UserController.ts
  backend/src/controllers/ping.ts
  backend/src/models/Pgmigrations.ts
  backend/src/models/Posts.ts
  backend/src/models/User.ts
  backend/src/models/Users.ts
  backend/src/repos/Database.ts
  backend/src/repos/MockOrm.ts
  backend/src/repos/UserRepo.ts
  backend/src/repos/database.json
  backend/src/services/UserService.ts
  database/.kanelrc.js
Due: backend-linter

Generate types
  database/.kanelrc.js
  database/README.md
  database/migrations/1711103321903_user-table.js
  database/models/public/Pgmigrations.ts
  database/models/public/Posts.ts
  database/models/public/Users.ts
  database/package-lock.json
  database/package.json
Due: none

#7 Database migration
  .gitignore
  database/.gitignore
  database/README.md
  database/package-lock.json
  database/package.json
Due: none

Build backend
  .gitlab-ci.yml
Due: none

Fix lint
  .gitlab-ci.yml
  backend/.eslintrc.json
  backend/src/constants/EnvVars.ts
  backend/src/controllers/UserController.ts
  backend/src/repos/Database.ts
  backend/src/repos/UserRepo.ts
Due: backend-linter

fix pipeline
  .gitlab-ci.yml
Due: none

#7 Setup PostgreSql
  .gitignore
  backend/.eslintrc.json
  backend/.gitignore
  backend/README.md
  backend/env/development.env
  backend/env/test.env
  backend/package-lock.json
  backend/package.json
  backend/src/constants/EnvVars.ts
  backend/src/controllers/UserController.ts
  backend/src/controllers/ping.ts
  backend/src/models/Pgmigrations.ts
  backend/src/models/Posts.ts
  backend/src/models/User.ts
  backend/src/models/Users.ts
  backend/src/repos/Database.ts
  backend/src/repos/MockOrm.ts
  backend/src/repos/UserRepo.ts
  backend/src/repos/database.json
  backend/src/services/UserService.ts
  database/.gitignore
  database/.kanelrc.js
  database/README.md
  database/migrations/1711103321903_user-table.js
  database/models/public/Pgmigrations.ts
  database/models/public/Posts.ts
  database/models/public/Users.ts
  database/package-lock.json
  database/package.json
Due: backend-linter

Run prettier
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/rooms/page.tsx
  frontend/components/NavBar.tsx
Due: frontend-linter

FIx styling
  frontend/app/globals.css
  frontend/app/page.tsx
Due: frontend-linter

Add /rooms, navigation and new favicon
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/room/[room]/page.tsx
  frontend/app/rooms/page.tsx
  frontend/app/sitemap.ts
  frontend/components/NavBar.tsx
  frontend/lib/allrooms.ts
Due: frontend-linter

#16 Index page for all rooms
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/room/[room]/page.tsx
  frontend/app/rooms/page.tsx
  frontend/app/sitemap.ts
  frontend/components/NavBar.tsx
  frontend/lib/allrooms.ts
Due: frontend-linter

Add proxy
  frontend/app/api/auth/[...nextauth]/route.ts
  frontend/app/api/backend/[...endpoint]/route.ts
Due: frontend-linter
